$color-black: #000000;
$color-white: #ffffff;
$color-grey: #eeeeee;
$color-blue: #5da09c;

$color-primary: $color-black;
$color-secundary: $color-white;
$color-icon: $color-blue;
$color-bg: $color-grey;

// size
$padding: 40px;
$font-size-text: 16px;
$font-size-title: 24px;



